# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/

# Env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vite
*.local

# Next.js
.vercel

# TypeScript
*.tsbuildinfo

.venv

__pycache__/